nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;

}

 li {
    list-style: none;
    padding: 20px;
}

a{
    text-decoration: none;
    
}
.active-link {
    border: 2px solid black;
}
