
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 65, 78);
  color: white;
  /* font-size: 5rem; */
}